@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Noto Sans KR";
	}

	::-webkit-scrollbar {
		width: 0.8rem;
	}

	::-webkit-scrollbar-thumb {
		height: 20%;
		background: #5e53c7;
		border-radius: 1rem;
	}

	::-webkit-scrollbar-track {
		background: rgba(33, 122, 244, 0.1);
	}
}

@layer components {
	.community-overflow {
		text-overflow: ellipsis;
		overflow: hidden;
		word-break: break-word;

		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}

	.title-overflow {
		text-overflow: ellipsis;
		overflow: hidden;
		word-break: break-word;

		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	.review-overflow {
		text-overflow: ellipsis;
		overflow: hidden;
		word-break: break-word;

		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}
}

@layer utilities {
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
